// Bootstrap Utilities
// Bootstrap Utilities
@import '../config/breakpoints';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@mixin respond-above($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		$breakpoint-value: map-get($breakpoints, $breakpoint);

		@media (min-width: $breakpoint-value) {
			@content;
		}
	} @else {
        @media (min-width: $breakpoint) {
            @content;
        }
	}
}

@mixin noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
								supported by Chrome, Edge, Opera and Firefox */
}

@mixin mobileLandscape {
	@media screen and (max-height: 450px) {
			@content;
	}
}

@mixin modalLoadingText {
	position: absolute;
	font-size: 0.7em;
	z-index: 0;
	top: 50%;
	left: 50%;
	text-align: center;
	width: 100%;
	transform: translate(-50%, -50%);
	color: #fff;
	padding: 0 5px;

	@include respond-above(md) {
			font-size: 0.6em;
	}
}

@mixin modalLoadingImage {
	display: block;
	margin: 0 auto 8px;
	width: 5vh;
}

@mixin absoluteMiddle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin overflowEllipsis {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin customScroll {
    &::-webkit-scrollbar {
        width: 0.25em;
        height: 0.15em;

        @include respond-above(sm) {
            width: 0.15em;
        }
    }

    &::-webkit-scrollbar-thumb {
        background: #BEBEBE;
        border-radius: 100px;
    }

    &::-webkit-scrollbar-track {
        background: #E3E3E3;
        border-radius: 100px;
    }
}

@mixin loadingText {
	font-family: 'Montserrat Semi Bold', sans-serif;
	letter-spacing: 2px;
	color: #fff;
	display: flex;
	align-items: center;
}

@mixin font($type: regular) {
    @if $type == regular {
        font-family: 'Quicksand-Regular', sans-serif;
    } @else if $type == bold {
        font-family: 'Quicksand-Bold', sans-serif;
    } @else if $type == medium {
        font-family: 'Quicksand-Medium', sans-serif;
    } @else if $type == light {
        font-family: 'Quicksand-Light', sans-serif;
    } @else {
        font-family: 'Quicksand-Regular', sans-serif;
    }
}
