// Theme Colors
$primary: #0e1013 !default;
$secondary: #ECD193 !default;

$linear-gold: linear-gradient(90deg, #F9F295 -83.56%,
 #E0AA3E -6.45%, #E7BD6A 36.24%,
 #FAF398 85.81%, #FAF398 120.23%,
 #B88A44 180.82%);
