// Theme Colors
$primary: #1714C8 !default;
$dark: #242424 !default;
$danger: #DE4141 !default;
$gradient: linear-gradient(90deg, #768F39 -16.02%, #D3C453 16.95%, #E4A945 44.12%, #E27B43 75.71%, #D95353 97.74%, #C05D92 125.01%);

$secondary: #483729 !default;
$warning: #C4B39C !default;
$light: #F1E4CE !default;