// Montserrat
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.woff')
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('../fonts/Montserrat/Montserrat-Bold.woff')
}

@font-face {
    font-family: 'Montserrat Semi Bold';
    src: url('../fonts/Montserrat/Montserrat-SemiBold.woff')
}

@font-face {
    font-family: 'Montserrat Light';
    src: url('../fonts/Montserrat/Montserrat-Light.woff')
}


// Work Sans
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/Work-Sans/WorkSans-Regular.woff')
}

@font-face {
    font-family: 'Work Sans Bold';
    src: url('../fonts/Work-Sans/WorkSans-Bold.woff')
}

@font-face {
    font-family: 'Work Sans Semi Bold';
    src: url('../fonts/Work-Sans/WorkSans-SemiBold.woff')
}

@font-face {
    font-family: 'Work Sans Light';
    src: url('../fonts/Work-Sans/WorkSans-Light.woff')
}
