.#{ $style-prefix }-btn {
	border-radius: 48px;
	border: none;
	text-transform: uppercase;
	font-family: 'Work Sans Semi Bold', sans-serif;
	padding: 13px 15px;
	min-width: 176px;
	letter-spacing: 0.06em;
	font-size: 12px;

	&--gold {
		background: linear-gradient(
			90deg,
			#f9f295 -83.56%,
			#e0aa3e -6.45%,
			#e7bd6a 36.24%,
			#faf398 85.81%,
			#faf398 120.23%,
			#b88a44 180.82%
		);
		color: #4e3b1d;
		&:disabled {
			background: #b9b9b9;
		}
	}
	&--outline {
		@include gradientText;
		border: 1px solid $secondary;
	}
	&--outline--light {
		background-color: transparent;
		border: 1px solid white;
		color: white;
	}
	&__center-wrapper {
		display: flex;
		justify-content: center;
	}
}
