.#{ $style-prefix }-float-label {
	position: relative;
	margin-top: 23px;

	&__input {
		height: 55px;
		border: 1px solid #d9c9a6;
		border-radius: 5px;

		&:focus {
			box-shadow: none;
			border: 2px solid $secondary;
		}

		&:focus + .pcp-float-label__label {
			color: #c89b32;
		}

		&:valid + .pcp-float-label__label {
			color: #ccc4b3;
		}

		// float label on input focus; TODO: remove :valid...
		&:focus + .pcp-float-label__label,
		&:valid + .pcp-float-label__label  {
			@include floatLabel;
		}
	}

	// float label if input has value
	&__fix-float {
		@include floatLabel;
	}

	&__label {
		position: absolute;
		top: 16px;
		left: 13px;
		opacity: 0.5;
		transition: 200ms;
		color: #828282;
	}
}
