@import '~src/assets/scss/config';

.#{$style-prefix}-lottie {
    position: absolute;
    bottom: 6em;
    width: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;

    @include respond-above(720px) {
        width: 130px;
        bottom: 30px;
    }

    @include mobileLandscape() {
        bottom: 20px;
        width: 20vh;
    }
}
