@import '~src/assets/scss/config';
@import '~src/assets/scss/theme-config';

.#{ $style-prefix }-preview-video {
  
    &__loading-text {
        @include modalLoadingText;
    }

    &__loading-img {
        @include modalLoadingImage;
    }

    &__overflow {
        @media (max-width: 600px) {
            margin-top: .5em;
        }
    }

    &__video-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;

        @include respond-above(sm) {
            padding-bottom: 50.25%;
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 8px 10px;
        }
    }
}
